@import 'styles/constants';

.wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.heading1 {
  font-size: 2.4rem;
}

.reactMarkDown {
  color: map-get($map: $colors, $key: white);
  font: 1.4rem 'jkg', sans-serif;
  line-height: 1.5;
  padding: 32px 0 0;
}

.a {
  color: map-get($map: $colors, $key: red) !important;
  text-decoration: none !important;
}

.blockquote {
  color: darken(map-get($map: $colors, $key: white), 10) !important;
}

.code,
.pre,
.tr {
  background-color: darken(map-get($map: $colors, $key: blue), 10) !important;
}

.code {
  font-size: 1.2rem !important;
  white-space: pre-wrap !important;
}

.codeWrapper {
  margin: 0 0 -16px;
  position: relative;
}

.copyToClipboardWrapper {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.youtubeWrapper {
  margin-bottom: 16px;
  max-width: 640px;
  position: relative;
  width: 100%;
}

.youtubeWrapper::before {
  content: '';
  display: block;
  padding: 56.25% 0 0;
}

.youtube {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.tableWrapper {
  margin: 0 0 16px;
  overflow: auto hidden;
}

.table {
  margin-bottom: 0 !important;
  // width: 100%;
}

.ul {
  list-style: disc;
}

.nav {
  align-items: center;
  display: grid;
  gap: 24px;
  grid-template: auto / repeat(2, 1fr);
  margin: 36px 0 0;
}

.nextLinkWrapper {
  display: flex;
  justify-content: flex-end;
}

.date {
  font-size: 1rem;
  margin: 4px 0 0;
}
