@import 'styles/constants';
@import 'sass-mq';

.header {
  align-items: center;
  display: flex;
  padding: 24px 0;
  transition: 100ms;
}

.searchFormWrapper {
  margin: 0 0 0 96px;
  @include mq($until: wide) {
    display: none;
  }
}
