@import 'styles/constants';

.input {
  background: map-get($map: $colors, $key: black);
  color: map-get($map: $colors, $key: white);
  font-family: arial, sans-serif;
  outline: 0;
  padding: 4px 8px;
}

.error {
  border-color: map-get($map: $colors, $key: red);
}
