@import 'styles/constants';

.textarea {
  background: map-get($map: $colors, $key: black);
  color: map-get($map: $colors, $key: white);
  font-family: arial, sans-serif;
  min-height: 160px;
  outline: 0;
  overflow: hidden scroll;
  padding: 4px 8px;
  resize: vertical;
}

.error {
  border-color: map-get($map: $colors, $key: red);
}
